html {
  max-height: 100vh;
  overflow: hidden;
}

body {
  background: #f9f9f9;
  max-height: 100vh;
}

.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: end;
  overflow: hidden;
}
.modal {
  height: 100%;
  width: 50%;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 64rem) {
  .modal {
    width: 80%;
  }
  aside {
    display: none;
  }
  html {
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 100%;
  }
}

.open {
  transform: translateX(0);
}
